.screen-title {
    font-size: 4rem; /* Large font size for the title */
    color: white; /* Assuming you want a white title to stand out on a presumably dark background */
    text-align: center; /* Center the title horizontally */
    margin-top: 20px; /* Add space at the top */
    margin-bottom: 200px; /* Add space between the title and the rest of the content */
  
  }
  
  .login-container {
    background-image: url('../assets/bc.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .login-logo {
    margin-bottom: 200px;
    position: relative;
  }
  
  .logo-squirrel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .logo-squirrel {
    width: 200px; /* Adjust based on your image */
    height: 200px; /* Adjust based on your image */
  }
  
  .submitt-btn {
    background-color: orange;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 30px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    position: center;
  }
  
  .divider {
    color: white;
    margin: 10px;
  }
  
  .input-group {
    width: 100%;
    margin-bottom: 1em;
}

input {
    width: 100%;
    padding: 0.8em;
    margin-top: 0.5em;
    background: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
    transform:translateX(-10px);
}

input::placeholder {
    color: #666;
}

.account-exists {
    margin-top: 2em;
    font-size: 0.9em;
    color: white;
}

.account-exists a {
    color: #ffd700; /* Adjust color as needed */
    text-decoration: none;
}


